# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.pnp
.pnp.js
.yarn/install-state.gz
.pnpm-store

# testing
/coverage

# next.js
.next/
out/

# production
build

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Sentry Config File
.env.sentry-build-plugin

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# local env files
.env**

# cache
cache/*
