.animated-square {
  transform: scale(0) rotateY(0);
  animation: square-pop var(--animation-duration) var(--animation-delay)
    infinite;
}

@keyframes square-pop {
  0%,
  5%,
  100% {
    transform: scale(0) rotateY(0);
  }
  15%,
  25% {
    transform: scale(1);
  }
  40%,
  99% {
    transform: rotateY(90deg);
  }
}
