@import "@inkonchain/ink-kit/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    font-family:
      var(--font-plus-jakarta-sans),
      var(--font-inter),
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Helvetica,
      "Apple Color Emoji",
      Arial,
      sans-serif,
      "Segoe UI Emoji",
      "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0efff;
    background-size: cover;
  }
  html {
    scroll-behavior: smooth;
  }
  /** To optimise **/

  .dark body {
    background-color: #160f1f;
  }
  /** https://github.com/tailwindlabs/tailwindcss/discussions/3654#discussioncomment-2327745 */
  .pause {
    animation-play-state: paused;
  }

  /** Transform matching Tailwind 4 new 3D transforms. Remove this once we migrate to Tailwind 4. */
  .transform-3d {
    transform: translate3d(
        var(--tw-translate-x),
        var(--tw-translate-y),
        var(--tw-translate-z)
      )
      var(--tw-rotate-x) !important;
  }

  :root {
    --ink-button-primary: rgb(113, 50, 245);
    --ink-scrollbar: color-mix(
      in srgb,
      var(--ink-button-primary) 20%,
      transparent
    );
  }

  .-rotate-x-180 {
    --tw-rotate-x: rotateX(-180deg);
  }

  .scrollbar-custom {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--ink-scrollbar) transparent; /* Firefox */
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  f .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: var(--ink-scrollbar); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --relay-kit-font-family: "Plus Jakarta Sans";
  --relay-kit-primary: #7132f5;
  --relay-kit-primary-hover: #7132f5e5;
  --relay-kit-primary-disabled: #7032f59c;
  --relay-kit-subtle-bg: #f5f3ff;
  --relay-kit-subtle-border: #e9e5ff;
  --relay-kit-text: #1a1523;
  --relay-kit-text-subtle: #64618b;
  --relay-kit-text-error: #dc2626;
  --relay-kit-text-success: #16a34a;

  --relay-kit-button-secondary-bg: #f5f3ff;
  --relay-kit-button-secondary-hover: #e9e5ff;

  --relay-kit-input-bg: #f5f3ff;
  --relay-kit-input-radius: 16px;

  --relay-kit-skeleton-bg: #f5f3ff;

  --relay-kit-dropdown-bg: #ffffff;
  --relay-kit-dropdown-radius: 16px;

  --relay-kit-widget-bg: #ffffff;
  --relay-kit-widget-radius: 16px;
  --relay-kit-widget-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  --relay-kit-widget-card-bg: #f8f7ff;
  --relay-kit-widget-card-radius: 16px;
  --relay-kit-widget-selector-bg: #f5f3ff;
  --relay-kit-widget-selector-hover: #e9e5ff;

  --relay-kit-widget-swap-border: #dedbf0;
  --relay-kit-widget-swap-radius: 16px;

  --relay-kit-modal-bg: #ffffff;
  --relay-kit-modal-radius: 16px;
}

.dark {
  --relay-kit-subtle-bg: #6451aa26;
  --relay-kit-subtle-border: #261e2f;

  --relay-kit-text: #ffffff;
  --relay-kit-text-subtle: #ffffff80;
  --relay-kit-text-error: #ff4d4d;
  --relay-kit-text-success: #4caf50;

  --relay-kit-button-secondary-bg: #261e2f;
  --relay-kit-button-secondary-hover: #211a29;

  --relay-kit-input-bg: #261e2f;

  --relay-kit-skeleton-bg: #261e2f;
  --relay-kit-dropdown-bg: #211a29ad;

  --relay-kit-widget-bg: #2b2a4e;
  --relay-kit-widget-card-bg: red;
  --relay-kit-widget-selector-bg: #211a29ad;
  --relay-kit-widget-selector-hover: #211a29;

  --relay-kit-widget-swap-border: #161c33;

  --relay-kit-modal-bg: #160f1f;
}

/* Relay UI Kit CSS overrides (properties we cannot change through the theme) */

.relay-bg_widget-selector-background {
  border-radius: 999px !important;
}

.relay-kit-reset button {
  border-radius: 999px !important;
}

.relay-kit-reset button[aria-label="Swap"],
.relay-kit-reset button[aria-label="Connect wallet"] {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 20px !important;
}

div[type="button"] > button {
  padding: 22px !important;
  padding-left: 8px !important;
  padding-right: 12px !important;
}

.relay-kit-reset img {
  border-radius: 999px !important;
  width: 32px !important;
}

.relay-bg_secondary-button-background {
  padding: 12px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.relay-bg_secondary-button-background > div {
  font-weight: bold !important;
  color: var(--ink-text-on-secondary) !important;
}

.relay-h_24 {
  height: 32px !important;
}

.relay-w_24 {
  width: 32px !important;
}

.relay-fw_500:not(#\#):not(#\#):not(#\#):not(#\#) {
  font-weight: 700 !important;
}

/* A fix that must be applied to all h2 so that they don't cut off the text */
.ink\:text-h2 {
  margin-top: -12px;
  margin-bottom: -12px;
  line-height: calc(var(--ink-text-h2--line-height) + 12px);
}

.ink\:text-h3 {
  margin-top: -12px;
  margin-bottom: -12px;
  line-height: calc(var(--ink-text-h3--line-height) + 12px);
}
