/* A fix that must be applied to all h- so that they don't cut off the text */
.ink\:text-h1 {
  margin-top: -4px;
  margin-bottom: -4px;
  line-height: calc(var(--ink-text-h1--line-height) + 16px);
}

.ink\:text-h2 {
  margin-top: -12px;
  margin-bottom: -12px;
  line-height: calc(var(--ink-text-h2--line-height) + 12px);
}

.ink\:text-h3 {
  margin-top: -12px;
  margin-bottom: -12px;
  line-height: calc(var(--ink-text-h3--line-height) + 12px);
}
